@import '../../common/common.style.scss';

.birthday {
    &-container {
        align-items: center;
        display: grid;
        gap: 2rem;
        grid-template-columns: repeat(2, 1fr);

        .calendar {
            padding: 0 5rem;
        }
    }

    &-image img {
        width: 85%;
    }
}

@media screen and (max-width: 1200px) {
    .birthday {
        &-container {
            gap: 1.5rem;

            .calendar {
                padding: 0 3rem;
            }
        }

        &-image img {
            width: 95%;
        }
    }
}

@media screen and (max-width: 768px) {
    .birthday {
        &-container {
            gap: 1rem;

            .calendar {
                padding: 0 2rem;
            }
        }

        &-image img {
            width: 100%;
        }
    }
}

@media screen and (max-width: 600px) {
    .birthday {
        &-container {
            gap: 0;
            grid-template-columns: 1fr;

            .calendar {
                padding: 0.5rem;
            }
        }

        &-image img {
            width: 100%;
        }
    }
}
