@import '../../common/common.style.scss';

.signin {
    display: flex;
    flex-direction: column;
    width: 25%;

    .title {
        font-size: 2rem;
        letter-spacing: 2px;
        margin: 0 0 2rem 0;
        text-transform: uppercase;
    }

    .form {
        display: flex;
        flex-direction: column;
        height: 100%;
        width: 100%;

        label:not(:last-child) {
            margin-bottom: 2rem;
        }

        .button-container {
            align-items: flex-end;
            display: flex;
            flex: 1 0 0;
            justify-content: center;
        }
    }
}

@media screen and (max-width: $breakpoint-large) {
    .signin {
        width: 35%;

        .title {
            font-size: 1.75rem;
            margin: 0 0 2rem 0;
        }

        .form {
            label:not(:last-child) {
                margin-bottom: 1.75rem;
            }
        }
    }
}

@media screen and (max-width: $breakpoint-medium) {
    .signin {
        width: 35%;

        .title {
            font-size: 1.5rem;
            margin: 0 0 1.5rem 0;
        }
    }
}

@media screen and (max-width: $breakpoint-small) {
    .signin {
        width: 80%;
    }
}
