@import '../../common/common.style.scss';

.body.home {
    display: flex;
    flex-direction: column;
    height: $body-height;
    padding: 1rem;
}

@media screen and (max-width: $breakpoint-large) {
    .body.home {
    }
}

@media screen and (max-width: $breakpoint-medium) {
    .body.home {
    }
}

@media screen and (max-width: $breakpoint-small) {
    .body.home {
    }
}
