@import '../../common/common.style.scss';

$loader-size: 5rem;

.loader {
    width: $loader-size;
    height: $loader-size;
    border-radius: 50%;
    display: inline-block;
    border-top: 6px solid $primary-light;
    border-right: 6px solid transparent;
    box-sizing: border-box;
    animation: rotation 1s linear infinite;

    &::after {
        content: '';
        box-sizing: border-box;
        position: absolute;
        left: 0;
        top: 0;
        width: $loader-size;
        height: $loader-size;
        border-radius: 50%;
        border-bottom: 6px solid $secondary-light;
        border-left: 6px solid transparent;
    }

    &-container {
        align-items: center;
        display: flex;
        justify-content: center;
    }
}

@keyframes rotation {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}
