@import '../../common/common.style.scss';

button {
    background-color: transparent;
    border: 1px solid $border-color;
    color: $text-color;
    font-size: 1.5rem;
    padding: 0.75rem 2rem;

    &:hover {
        cursor: pointer;
    }

    &:disabled {
        color: lighten($text-color, 50);
        border-color: lighten($border-color, 50);

        &:hover {
            cursor: progress;
        }
    }
}

@media screen and (max-width: 768px) {
    button {
        font-size: 1rem;
        padding: 0.65rem 1.75rem;
    }
}
