@import "../../common/common.style.scss";

.body.birthdays {
    .calendar-position {
        position: relative;
    }

    .birthday {
        &-container {
            align-items: center;
            display: grid;
            gap: 2rem;
            grid-template-columns: repeat(2, 1fr);
            height: 90%;
            padding: 0 2rem 0 5rem;
            position: relative;

            .calendar {
                padding: 0 2rem;
                max-width: 85%;
            }
        }

        &-image img {
            width: 85%;
        }

        &-informations {
            background-color: $grey-light;
            border-bottom-left-radius: 1rem;
            border-top-left-radius: 1rem;
            box-shadow: -2px 0px 7px 2px darken($grey-light, 10);
            display: flex;
            flex-direction: column;
            height: 90%;
            padding: 0.5rem;
            position: absolute;
            right: -50%;
            transition: all 1s ease-in-out;
            top: 5%;
            width: 50%;
            z-index: 10;

            &.open {
                right: 0;
            }

            .close {
                color: $text-color-dark;
                height: 2.5rem;
                margin: {
                    left: 0.5rem;
                    top: 0.5rem;
                }
                width: 2.5rem;
                z-index: 2;

                &:hover {
                    cursor: pointer;
                }
            }

            .background {
                margin-top: -3rem;
                width: 100%;
                z-index: 1;
            }

            .date {
                align-self: center;
                color: $text-color;
                font-size: 2.5rem;
                margin: 1rem 0;
                text-transform: capitalize;
            }

            .users {
                display: grid;
                grid-template-columns: repeat(2, 1fr);
                padding: 0 1rem;
                overflow: auto;

                .user:not(:last-child) {
                    margin-bottom: 1rem;
                }
            }
        }
    }
}

@media screen and (max-width: $breakpoint-large) {
    .body.birthdays {
        .birthday {
            &-container {
                gap: 0;
                grid-template-columns: repeat(2, 1fr);
                padding: 0 1rem 0 1.5rem;

                .calendar {
                    padding: 0 1rem;
                }
            }

            &-image img {
                width: 95%;
            }

            &-informations {
                height: 85%;
                top: 10%;

                .close {
                    height: 2rem;
                    margin-top: 1rem;
                    width: 2rem;
                }

                .background {
                    margin-top: -3rem;
                }

                .date {
                    font-size: 1.5rem;
                    margin: 0.5rem 1.5rem 0.5rem 0;
                }

                .users {
                    grid-template-columns: repeat(2, 1fr);
                }
            }
        }
    }
}

@media screen and (max-width: $breakpoint-medium) {
    .body.birthdays {
        .birthday {
            &-container {
                gap: 0;
                grid-template-columns: repeat(2, 1fr);
                padding: 0 1rem 0 1rem;

                .calendar {
                    padding: 0 0.5rem;
                    max-width: 90%;
                }
            }

            &-image img {
                width: 90%;
            }

            &-informations {
                height: 80%;

                .close {
                    height: 2rem;
                    right: 0.5rem;
                    top: 0.7rem;
                    width: 2rem;
                }

                .date {
                    font-size: 1.25rem;
                }

                .users {
                    grid-template-columns: 1fr;
                    padding: 0 0.5rem;
                }
            }
        }
    }
}

@media screen and (max-width: $breakpoint-small) {
    .body.birthdays {
        .birthday {
            &-container {
                gap: 0;
                grid-template-columns: 1fr;
                padding: 0 0.5rem 0 0.5rem;

                .calendar {
                    padding: 0;
                    max-width: 100%;
                }
            }

            &-image img {
                width: 100%;
            }

            &-informations {
                border-bottom-left-radius: 0;
                border-top-right-radius: 2rem;
                border-top-left-radius: 2rem;
                height: 85%;
                left: 0;
                right: 0;
                top: auto;
                bottom: -85%;
                width: 100%;

                &.open {
                    right: auto;
                    bottom: 0%;
                }

                .close {
                    height: 1.5rem;
                    margin: {
                        left: 0.5rem;
                        top: 0.5rem;
                    }
                    width: 1.5rem;
                }

                .background {
                    margin-top: -2rem;
                }

                .date {
                    font-size: 1rem;
                    margin: 0.5rem 0.5rem 0.5rem 0;
                }

                .users {
                    grid-template-columns: 1fr;
                    padding: 0 1rem;

                    .user:not(:last-child) {
                        margin-bottom: 0.5rem;
                    }
                }
            }
        }
    }
}
