@import '../../common/common.style.scss';

.date-input {
    align-items: center;
    display: flex;

    .label {
        flex: 1 0 0;
    }

    .label:first-child {
        margin-right: 2rem;
    }

    .label:last-child {
        margin-left: 2rem;
    }
}

@media screen and (max-width: $breakpoint-small) {
    .date-input {
        .label:first-child {
            margin-right: 1rem;
        }

        .label:last-child {
            margin-left: 1rem;
        }
    }
}
