@import '../../common/common.style.scss';

.header {
    align-items: center;
    display: flex;
    height: $header-height;
    flex-direction: row;
    padding: 0 1rem;

    .logo {
        max-height: 3rem;

        &:hover {
            cursor: pointer;
        }
    }

    .identity {
        align-items: center;
        display: flex;
        flex-direction: row;
        flex: 1;
        justify-content: flex-end;

        &-name {
            font-size: 1.25rem;
            letter-spacing: 2px;
            margin-right: 1rem;
        }

        button:not(:last-child) {
            margin-right: 1rem;
        }
    }
}

@media screen and (max-width: $breakpoint-medium) {
    .header {
        height: $header-height;
        padding: 0 0.75rem;

        .logo {
            max-height: 2.5rem;
        }

        .identity {
            &-name {
                font-size: 1rem;
                margin-right: 0.75rem;
            }
        }
    }
}

@media screen and (max-width: $breakpoint-small) {
    .header {
        height: $header-height;
        flex-direction: row;
        padding: 0 0.5rem;

        .logo {
            max-height: 2rem;
        }

        .identity {
            display: none;
        }
    }
}
