@import '../../common/common.style.scss';

$image-height: 5.5rem;
$image-height-small: 4rem;
$image-height-medium: 5rem;

.user {
    align-items: center;
    display: flex;
    flex-direction: row;

    &-image {
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        border-radius: 50%;
        height: $image-height;
        margin-right: 1rem;
        min-height: $image-height;
        min-width: $image-height;
        width: $image-height;

        &.default {
            background-size: contain;
        }
    }

    &-name {
        color: $text-color;
        flex: 1 0 0;
        font-size: 1.25rem;
        letter-spacing: 2px;
        margin: 0;

        p {
            display: -webkit-box;
            line-clamp: 1;
            overflow: hidden;
            text-overflow: ellipsis;
            -webkit-line-clamp: 1;
            -webkit-box-orient: vertical;
        }
    }

    &.small {
        .user {
            &-image {
                height: $image-height-small;
                min-height: $image-height-small;
                min-width: $image-height-small;
                margin-right: 0.5rem;
                width: $image-height-small;
            }

            &-name {
                font-size: 1rem;
            }
        }
    }

    &.medium {
        .user {
            &-image {
                height: $image-height-medium;
                margin-right: 1rem;
                min-height: $image-height-medium;
                min-width: $image-height-medium;
                width: $image-height-medium;
            }

            &-name {
                font-size: 1rem;
            }
        }
    }

    &.bg-grey {
        background-color: darken($grey-light, 8);
        border-radius: 2rem;
        padding: 0.5rem;
    }

    &.bg-white {
        background-color: lighten($white, 100);
        border-radius: 2rem;
        padding: 0.5rem;
    }
}

@media screen and (max-width: $breakpoint-large) {
    .user {
        &-image {
            height: $image-height - 1;
            margin-right: 1rem;
            min-height: $image-height - 1;
            min-width: $image-height - 1;
            width: $image-height - 1;
        }

        &-name {
            font-size: 1rem;
        }

        &.small {
            .user {
                &-image {
                    height: $image-height-small - 0.5;
                    min-height: $image-height-small - 0.5;
                    min-width: $image-height-small - 0.5;
                    width: $image-height-small - 0.5;
                }

                &-name {
                    font-size: 0.75rem;
                }
            }
        }

        &.medium {
            .user {
                &-image {
                    height: $image-height-medium - 1;
                    min-height: $image-height-medium - 1;
                    min-width: $image-height-medium - 1;
                    width: $image-height-medium - 1;
                }

                &-name {
                    font-size: 0.85rem;
                }
            }
        }
    }
}

@media screen and (max-width: $breakpoint-medium) {
    .user {
        &-image {
            height: $image-height - 2;
            margin-right: 0.5rem;
            min-height: $image-height - 2;
            min-width: $image-height - 2;
            width: $image-height - 2;
        }

        &-name {
            font-size: 0.75rem;
        }

        &.small {
            .user {
                &-image {
                    height: $image-height-small - 1;
                    min-height: $image-height-small - 1;
                    min-width: $image-height-small - 1;
                    width: $image-height-small - 1;
                }

                &-name {
                    font-size: 0.75rem;
                }
            }
        }

        &.medium {
            .user {
                &-image {
                    height: $image-height-medium - 1.5;
                    min-height: $image-height-medium - 1.5;
                    min-width: $image-height-medium - 1.5;
                    width: $image-height-medium - 1.5;
                }

                &-name {
                    font-size: 0.75rem;
                }
            }
        }
    }
}
