@import '../../common/common.style.scss';

.user {
    align-items: center;
    display: flex;
    flex-direction: row;

    &-image {
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        border-radius: 50%;
        height: 8rem;
        margin-right: 1.5rem;
        width: 8rem;
    }

    &-name {
        color: $text-color;
        font-size: 1.25rem;
        letter-spacing: 2px;
        margin: 0
    }
}
