@import '../../common/common.style.scss';

.user {
    align-items: center;
    display: flex;
    flex-direction: row;

    &-image {
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        border-radius: 50%;
        height: 6rem;
        margin-right: 1.5rem;
        width: 6rem;
    }

    &-name {
        color: $text-color;
        font-size: 1.25rem;
        letter-spacing: 2px;
        margin: 0
    }

    &.small {
        .user {
            &-image {
                height: 4rem;
                margin-right: 0.5rem;
                width: 4rem;
            }

            &-name {
                font-size: 1rem;
            }
        }
    }

    &.medium {
        .user {
            &-image {
                height: 5rem;
                margin-right: 1rem;
                width: 5rem;
            }

            &-name {
                font-size: 1rem;
            }
        }
    }
}

@media screen and (max-width: $breakpoint-large) {
    .user {
        &-image {
            height: 5rem;
            margin-right: 1rem;
            width: 5rem;
        }

        &-name {
            font-size: 1rem;
        }

        &.small {
            .user {
                &-image {
                    height: 3.5rem;
                    width: 3.5rem;
                }

                &-name {
                    font-size: 0.75rem;
                }
            }
        }

        &.medium {
            .user {
                &-image {
                    height: 4rem;
                    width: 4rem;
                }

                &-name {
                    font-size: 0.85rem;
                }
            }
        }
    }
}

@media screen and (max-width: $breakpoint-medium) {
    .user {
        &-image {
            height: 4rem;
            width: 4rem;
        }

        &-name {
            font-size: 0.75rem;
        }

        &.small {
            .user {
                &-image {
                    height: 3rem;
                    width: 3rem;
                }

                &-name {
                    font-size: 0.75rem;
                }
            }
        }

        &.medium {
            .user {
                &-image {
                    height: 3.5rem;
                    width: 3.5rem;
                }

                &-name {
                    font-size: 0.75rem;
                }
            }
        }
    }
}
