@import '../../common/common.style.scss';

.admin {
    display: flex;
    flex-direction: row;
    height: $body-height;
    padding: 1rem;
    overflow: hidden;

    .menu {
        background-color: darken($white, 10);
        border-radius: 0.5rem;
        height: 100%;
        min-width: 23%;
        overflow: auto;
        padding: 1rem;
    }

    .menu-mobile {
        display: none;
    }

    .default-background {
        align-items: center;
        display: flex;
        justify-content: center;
        flex: 1 0 0;
        
        img {
            height: 80%;
        }
    }

    .aside-action:not(:last-child) {
        margin-bottom: 2rem;
    }
}

@media screen and (max-width: $breakpoint-large) {
    .admin {
        padding: 0.8rem;
        
        .menu {
            padding: 0.8rem;
        }

        .default-background {
            img {
                height: 60%;
            }
        }
    }
}

@media screen and (max-width: $breakpoint-medium) {
    .admin {
        flex-direction: column;
        padding: 0.75rem;

        .menu {
            display: none;
        }

        .menu-mobile {
            background-color: darken($white, 10);
            border-radius: 0.5rem;
            padding: 0.5rem 1.5rem;
            display: block;
            position: relative;

            .header {
                align-items: center;
                display: flex;

                .title {
                    color: $text-color-dark;
                    letter-spacing: 2px;
                    flex: 1 0 0;
                    font-size: 1.25rem;
                }

                .icon {
                    font-size: 1.75rem;
                    transition: all 0.25s ease-in-out;

                    &.expanded {
                        transform: rotate(-180deg);
                    }
                }
            }

            .content {
                background-color: darken($white, 10);
                border-bottom-left-radius: 0.5rem;
                border-bottom-right-radius: 0.5rem;
                height: 0;
                left: 0;
                overflow: hidden;
                padding: 0 1.5rem;
                position: absolute;
                top: 90%;
                width: 100%;
                z-index: 15;

                &.expand {
                    height: auto;
                }
            }

            .aside-action {
                margin: {
                    bottom: 1rem;
                    left: 1rem;
                }
            }
        }

        .default-background {
            img {
                height: auto;
                width: 80%;
            }
        }
    }
}

@media screen and (max-width: $breakpoint-small) {
    .admin {
        flex-direction: column;
        height: $body-height-small;
        padding: 0.75rem;

        .menu {
            height: 50%;
            flex: 1 0 0;
            padding: 0.75rem;
        }

        .menu-mobile {
            padding: 0.5rem 1.25rem;

            .header {
                .title {
                    font-size: 1rem;
                }

                .icon {
                    font-size: 1.5rem;
                }
            }

            .content {
                padding: 0 1rem;
            }

            .aside-action {
                margin: {
                    bottom: 0.75rem;
                    left: 0.75rem;
                }
            }
        }

        .default-background {
            img {
                height: auto;
                width: 85%;
            }
        }
    }
}
