@import '../../common/common.style.scss';

.admin {
    display: flex;
    flex-direction: row;
    height: $body-height;
    padding: 1rem;
    overflow: hidden;

    .menu {
        background-color: darken($white, 10);
        border-radius: 0.5rem;
        height: 100%;
        overflow: auto;
        padding: 1rem;
    }

    .default-background {
        align-items: center;
        display: flex;
        justify-content: center;
        flex: 1 0 0;
        
        img {
            height: 80%;
        }
    }
}
