@import '../../common/common.style.scss';

.code {
    width: 20%;

    .form {
        align-items: center;
        display: flex;
        flex-direction: column;
        width: 100%;

        label {
            margin-bottom: 2rem;
            width: 100%;
        }
    }
}

@media screen and (max-width: $breakpoint-large) {
    .code {
        width: 30%;
    }
}

@media screen and (max-width: $breakpoint-medium) {
    .code {
        width: 50%;

        .form {
            label {
                margin-bottom: 1.5rem;
            }
        }
    }
}

@media screen and (max-width: $breakpoint-small) {
    .code {
        width: 70%;

        .form {
            label {
                margin-bottom: 1rem;
            }
        }
    }
}
