@import '../../common/common.style.scss';

.label {
    display: block;
    letter-spacing: 4px;
    height: 1.5rem;

    &-text {
        color: $text-color-dark;
        cursor: text;
        font-size: 1rem;
        -moz-transform: translateY(-1.5rem);
        -ms-transform: translateY(-1.5rem);
        -webkit-transform: translateY(-1.5rem);
        transform: translateY(-1.5rem);
        transition: all 0.2s;
    }

    input {
        color: $text-color-dark;
        background-color: transparent;
        border: 0;
        border-bottom: 1px solid $border-color;
        color: $text-color;
        font-size: 1.25rem;
        letter-spacing: 1px;
        outline: 0;
        transition: all 0.2s;
        width: 100%;

        &:focus + .label-text {
            color: $text-color-dark;
            font-size: 0.75rem;
            -moz-transform: translateY(-2.75rem);
            -ms-transform: translateY(-2.75rem);
            -webkit-transform: translateY(-2.75rem);
            transform: translateY(-2.75rem);
        }

        + .label-text.filled {
            color: $text-color-dark;
            font-size: 0.75rem;
            -moz-transform: translateY(-2.75rem);
            -ms-transform: translateY(-2.75rem);
            -webkit-transform: translateY(-2.75rem);
            transform: translateY(-2.75rem);
        }
    }

    &.error {
        input {
            border-color: red;
            color: red;
        }

        .error-text {
            color: red;
            font-size: 0.60rem;
            letter-spacing: 1px;
            -moz-transform: translateY(-1.25rem);
            -ms-transform: translateY(-1.25rem);
            -webkit-transform: translateY(-1.25rem);
            transform: translateY(-1.25rem);
        }
    }
}

@media screen and (max-width: 1200px) {
    .label {
        height: 1.25rem;

        &-text {
            font-size: 0.85rem;
            -moz-transform: translateY(-1.25rem);
            -ms-transform: translateY(-1.25rem);
            -webkit-transform: translateY(-1.25rem);
            transform: translateY(-1.25rem);
        }

        input {
            font-size: 0.85rem;

            &:focus+.label-text {
                color: $text-color-dark;
                font-size: 0.75rem;
                -moz-transform: translateY(-2.15rem);
                -ms-transform: translateY(-2.15rem);
                -webkit-transform: translateY(-2.15rem);
                transform: translateY(-2.15rem);
            }

            +.label-text.filled {
                color: $text-color-dark;
                font-size: 0.75rem;
                -moz-transform: translateY(-2.15rem);
                -ms-transform: translateY(-2.15rem);
                -webkit-transform: translateY(-2.15rem);
                transform: translateY(-2.15rem);
            }
        }
    }
}

@media screen and (max-width: 768px) {
    .label {
        height: 1rem;

        &-text {
            font-size: 0.75rem;
        }

        input {
            font-size: 0.75rem;

            &:focus+.label-text {
                color: $text-color-dark;
                font-size: 0.65rem;
                -moz-transform: translateY(-2rem);
                -ms-transform: translateY(-2rem);
                -webkit-transform: translateY(-2rem);
                transform: translateY(-2rem);
            }

            +.label-text.filled {
                color: $text-color-dark;
                font-size: 0.65rem;
                -moz-transform: translateY(-2rem);
                -ms-transform: translateY(-2rem);
                -webkit-transform: translateY(-2rem);
                transform: translateY(-2rem);
            }
        }
    }
}
