@import '../../../common/common.style.scss';

.aside-action {
    .title {
        letter-spacing: 2px;
        font-size: 1.5rem;

        &.primary {
            color: $primary-dark;
        }

        &.secondary {
            color: $secondary-dark;
        }
    }

    .link {
        color: $text-color-dark;
        display: block;
        letter-spacing: 2px;
        font-size: 1rem;
        margin: 0.25rem 2rem;
        text-decoration: none;

        &:hover {
            cursor: pointer;
            font-weight: bold;
        }
    }
}

@media screen and (max-width: $breakpoint-large) {
    .aside-action {
        .title {
            font-size: 1.25rem;
        }

        .link {
            font-size: 1rem;
            margin: 0.15rem 2rem;
        }
    }
}

@media screen and (max-width: $breakpoint-medium) {
    .aside-action {
        .title {
            font-size: 1rem;
        }

        .link {
            font-size: 0.85rem;
            margin: 0.15rem 1.75rem;
        }
    }
}

@media screen and (max-width: $breakpoint-medium) {
    .aside-action {
        .title {
            font-size: 0.85rem;
        }

        .link {
            font-size: 0.75rem;
            margin: 0.15rem 1.5rem;
        }
    }
}
