@import '../../../common/common.style.scss';

.aside-action {
    margin-bottom: 2rem;

    .title {
        letter-spacing: 2px;
        font-size: 1.5rem;

        &.primary {
            color: $primary-dark;
        }

        &.secondary {
            color: $secondary-dark;
        }
    }

    .link {
        color: $text-color-dark;
        display: block;
        letter-spacing: 2px;
        font-size: 1rem;
        margin: 0.25rem 2rem;
        text-decoration: none;

        &:hover {
            cursor: pointer;
            font-weight: bold;
        }
    }
}
