@import '../../../common/common.style.scss';

.users-container {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	grid-gap: 2rem;
	margin-bottom: 1rem;
}

@media screen and (max-width: $breakpoint-large) {
	.users-container {
		grid-gap: 1.5rem;
	}
}

@media screen and (max-width: $breakpoint-medium) {
	.users-container {
		grid-gap: 1rem;
	}
}

@media screen and (max-width: $breakpoint-small) {
	.users-container {
		grid-template-columns: 1fr;
		grid-gap: 0.5rem;
	}
}
