@import '../../common/common.style.scss';

.connection {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100vh;

    .logo {
        max-height: 5rem;
        margin-bottom: 5rem;
    }

    .forms {
        display: flex;
        flex-direction: row;
        justify-content: center;
        width: 100%;
    }

    .separator {
        border: none;
        border-left: 2px solid $border-color;
        margin: -2rem 4rem 0 4rem;
        height: 120%;
    }
}

@media screen and (max-width: $breakpoint-large) {
    .connection {
        .logo {
            margin-bottom: 4rem;
        }

        .separator {
            margin: -1rem 3rem 0 3rem;
            height: 115%;
        }
    }
}

@media screen and (max-width: $breakpoint-medium) {
    .connection {
        .logo {
            max-height: 6rem;
            margin-bottom: 4rem;
        }

        .separator {
            margin: -2rem 2rem 0 2rem;
            height: 120%;
        }
    }
}

@media screen and (max-width: $breakpoint-small) {
    .connection {
        .logo {
            max-height: 4rem;
            margin-bottom: 2rem;
        }

        .forms {
            align-items: center;
            flex-direction: column;
        }

        .separator {
            border-top: 2px solid $border-color;
            margin: 2rem 0;
            height: auto;
            width: 80%;
        }
    }
}
