$breakpoint-large: 1280px;
$breakpoint-medium: 769px;
$breakpoint-small: 600px;

$white: #fcfcfc;

$grey-light: #f4f4f4;

$primary: #940232;
$primary-light: #ca445b;
$primary-dark: #5f000b;

$secondary: #090c9b;
$secondary-light: #563acd;
$secondary-dark: #00006b;

$text-color: #383838;
$text-color-light: #6f6f6f;
$text-color-dark: #0b0b0b;

$border-color: #383838;

$header-height: 10vh;
$body-height: 90vh;

$header-height-small: 6vh;
$body-height-small: 94vh;

.body {
    height: $body-height;
    overflow: hidden;

    .title {
        color: $text-color;
        font-size: 3rem;
        letter-spacing: 3px;
        text-transform: uppercase;

        &-container {
            align-items: center;
            display: flex;
            justify-content: center;
            height: 10%;
        }
    }
}

@media screen and (max-width: $breakpoint-large) {
    .body {
        .title {
            font-size: 2.5rem;
        }
    }
}

@media screen and (max-width: $breakpoint-medium) {
    .body {
        .title {
            font-size: 1.75rem;
        }
    }
}

@media screen and (max-width: $breakpoint-small) {
    .body {
        overflow: hidden;

        .title {
            font-size: 1.2rem;
            letter-spacing: 2px;
            text-transform: uppercase;
            text-align: center;
        }
    }
}
