$white: #fcfcfc;

$primary: #940232;
$primary-light: #ca445b;
$primary-dark: #5f000b;

$secondary: #090c9b;
$secondary-light: #563acd;
$secondary-dark: #00006b;

$text-color: #383838;
$text-color-light: #6f6f6f;
$text-color-dark: #0b0b0b;

$border-color: #383838;

$header-height: 10vh;
$body-height: 80vh;
